<header>
  <!-- font for the logo -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#"><span class="logo">StudyBuddy</span></a>
    <p class="m-0 navbar-text">CSULB</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <!-- <button type="button" class="btn btn-gold bt-lg">POST</button> -->
            <button type="button" class="btn btn-white text-gold">Start a Study Group</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-gold">Logout</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">User</a>
        </li>
      </ul>
    </div>
  </nav>
</header>