<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><img alt ="logo" style = "height : 50px; width :50px"  src="../../../assets/icon.png"><span id = "title"> Scheduler</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button type="button" class="btn btn-light bt-lg">POST</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-light bt-lg">Logout</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">USER_NAME</a>
        </li>
      </ul>
    </div>
  </nav>
</header>