<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<footer>

  <div class="row">
    <div class="col-6 ">
      <div class="row">

        <div class="col">
          <p class="flex ">About Us</p>
          <p class=" text-muted m-0">Contact Us</p>
          <p class=" text-muted m-0">Reviews</p>
        </div>

        <div class="col">

          <p class="flex ">Support</p>
          <p class=" text-muted m-0">FAQ</p>
          <p class=" text-muted m-0">Help Desk</p>
          <p class=" text-muted m-0">Forums</p>

        </div>

        <div class="col">
          <p class="flex ">Legal Service</p>
          <p class=" text-muted m-0">Terms of Service</p>
          <p class=" text-muted m-0">Termes of Use</p>
          <p class=" text-muted m-0">Privacy Policy</p>
        </div>
      </div>
    </div>

    <div class=" col m-5">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin "></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-skype"></i></a>
    </div>

  </div>
</footer>