<div class="container d-flex h-100 w-50">

  
  <div class="row justify-content-center align-self-center w-100">
    <div class="d-sm-flex w-100 align-self-center">
      <div class="input-group">
        <!-- search text field -->
        <input #inputField class="form-control input-style" type="search" placeholder="Find a study session" (keyup.enter)="searching()"[ngbTypeahead]="search">
        <!-- search button -->
        <div class="input-group-append">
            <button class="btn btn-outline-light input-btn-style" (click)="searching()" >Search</button>
        </div>
    </div>
    </div>
  </div>
</div>
