<div class="card-Section mt-5">

  <div class="mb-2 section-Header">
    <h4 class="m-0">For Your Classes</h4>
    <p class="text-muted m-0">Study sessions about the classes your enrolled</p>
  </div>
  <div class="card-columns scrolling-wrapper">
    <div *ngFor="let event of recommendedEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </div>

</div>


<div class="card-Section mt-5">
    <div class="mb-2 section-Header">
        <h4 class="m-0">Happening Soon</h4>
        <p class="text-muted m-0">Study sessions that you might be interested in</p>
    </div>
  <div class="card-columns scrolling-wrapper">
    <div *ngFor="let event of happeningSoonEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </div>
</div>

<div class="card-Section mt-5">
    <div class="mb-2 section-Header">
        <h4 class="m-0">Your Major</h4>
        <p class="text-muted m-0">Study sessions that related your major</p>
    </div>
    <div class="card-columns scrolling-wrapper">
      <div *ngFor="let event of yourMajorEvents">
        <app-event-card [event]="event"></app-event-card>
      </div>
    </div>
</div>