<div class = "card-Section">
    <div class = "section-Header">
        <h4 class="m-0"><strong>Currently Enrolled</strong></h4>
        <h6>Study group sessions that you might be interested based off the classes your enrolled</h6>
    </div>
    <div class="card-columns scrolling-wrapper" >
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    </div>
</div>
<div class = "card-Section">
        <div class = "section-Header">
            <h4 class="m-0"><strong>Sessions Happening Soon</strong></h4>
            <h6>Study group sessions that you might be interested in </h6>
        </div>
        <div class="card-columns scrolling-wrapper" >
        <app-event-card></app-event-card>
        <app-event-card></app-event-card>
        <app-event-card></app-event-card>
        <app-event-card></app-event-card>
        <app-event-card></app-event-card>
        <app-event-card></app-event-card>
        </div>
    </div>