<div class="card-columns">



  <div class="card">
    <img src= "../../../assets/physics.jpeg" class="card-img-top" >
    <div class="card-body">
      <h2 class="card-title">Physics </h2>
      <div class="textComponent">
        <strong>When:</strong>
        <p style="display:inline"> April 20, 2019</p>
      </div>
      <div class="textComponent">
        <strong>Location: </strong>
        <p style="display:inline">USU Ballroom</p>
      </div>
      <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
    </div>
  </div>

  <div class="card">
      <img src= "../../../assets/physics.jpeg" class="card-img-top" >
      <div class="card-body">
        <h2 class="card-title">Physics </h2>
        <div class="textComponent">
          <strong>When:</strong>
          <p style="display:inline"> April 20, 2019</p>
        </div>
        <div class="textComponent">
          <strong>Location: </strong>
          <p style="display:inline">USU Ballroom</p>
        </div>
        <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
      </div>
    </div>
    <div class="card">
        <img src= "../../../assets/physics.jpeg" class="card-img-top" >
        <div class="card-body">
          <h2 class="card-title">Physics </h2>
          <div class="textComponent">
            <strong>When:</strong>
            <p style="display:inline"> April 20, 2019</p>
          </div>
          <div class="textComponent">
            <strong>Location: </strong>
            <p style="display:inline">USU Ballroom</p>
          </div>
          <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
        </div>
      </div>


      <div class="card">
          <img src= "../../../assets/physics.jpeg" class="card-img-top" >
          <div class="card-body">
            <h2 class="card-title">Physics </h2>
            <div class="textComponent">
              <strong>When:</strong>
              <p style="display:inline"> April 20, 2019</p>
            </div>
            <div class="textComponent">
              <strong>Location: </strong>
              <p style="display:inline">USU Ballroom</p>
            </div>
            <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
          </div>
        </div>
  
        <div class="card">
            <img src= "../../../assets/physics.jpeg" class="card-img-top" >
            <div class="card-body">
              <h2 class="card-title">Physics </h2>
              <div class="textComponent">
                <strong>When:</strong>
                <p style="display:inline"> April 20, 2019</p>
              </div>
              <div class="textComponent">
                <strong>Location: </strong>
                <p style="display:inline">USU Ballroom</p>
              </div>
              <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
            </div>
          </div>


          <div class="card">
              <img src= "../../../assets/physics.jpeg" class="card-img-top" >
              <div class="card-body">
                <h2 class="card-title">Physics </h2>
                <div class="textComponent">
                  <strong>When:</strong>
                  <p style="display:inline"> April 20, 2019</p>
                </div>
                <div class="textComponent">
                  <strong>Location: </strong>
                  <p style="display:inline">USU Ballroom</p>
                </div>
                <footer class="cardFooter"><small class="text-muted">Last posted 3 mins ago</small></footer>
              </div>
            </div>






</div>